@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App__test {
  position: fixed;
  left: 10px;
  top: 10px;
}
.App__test__input {
  text-align: left;
}
