@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App__test {
  position: fixed;
  left: 10px;
  top: 10px;
}
.App__test__input {
  text-align: left;
}

.add-otp-btn {
  position: absolute;
  border: none;
  background-color: #00ffb9;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.add-otp-btn:hover {
  background-color: #02eaa8;
}

.input-card {
  width: 40%;
  overflow: hidden;
  position: fixed;
  background-color: white;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #d7d7d7;
}

.form-container {
  position: relative;
  overflow-y: auto;
  padding: 30px;
  width: 100%;
}

i {
  font-size: 20px;
}

.btn-class {
  border: 1px solid #acacac !important;
  border-radius: 5px;
  padding: 5px;
}
